body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  min-height: 6rem;
  background-color: black;
  color: white;
}

header h1 {
  margin: auto;
}

main {
  flex: 1;
  display: flex;
}

main ul {
  margin: auto;
  display: flex;
}

main a {
  margin: 1rem;
  padding: 2rem;
  font-size: 2rem;
  background-color: grey;
  color: white;
}
